header{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 10%;
}
nav{
    position: fixed;
    top: 10%;
    left: 0%;
    width: 100%;
    height: 10%;
}
main{
    position: fixed;
    top: 20%;
    left: 0%;
    width: 100%;
    height: 70%;
    overflow: hidden;
}
.barra{
    position: fixed;
    width: 100%;
}
.link{
    width: 15%;
    border: 2px solid black;
    background: black;
    text-align: center;
    font-size: 120%;
}
a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: red;
}
a:hover{
    color: yellow;
    font-size: 120%;
}
a:active{
    color: orange;
    font-size: 120%;
}
h1, p{
    text-align: center;
}
table, th, tr, td{
    border: 1px solid black;
    text-align: center;
    font-size: 120%;
}
table{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}
.dom{
    background-color: yellow;
    font-weight: bolder;
}
.fer{
    background-color: tomato;
    font-weight: bolder;
}
footer{
    background-color: white;
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 10%;
}